html {
    font-size: 10px;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0;
    font-size: 1.6rem;
    font-family: Lato-Regular, Verdana, sans-serif;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/* container */

.container {
    max-width: 940px;
    height: 100%;
    margin: 0 auto;
}


/* header */

.header {
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.header__inner {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    display: flex;
    width: 100%;
    text-decoration: none;
    position: relative;
}

.logo__title {
    font-size: 2.5rem;
    line-height: 0.6rem;
    font-family: Lato-Bold;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
}

.star {
    color: #f06c64;
    font-size: 24px;
    font-family: Lato-Bold;
    position: absolute;
    top: -12px;
    right: -9px;
}

.header__nav {
    width: 398px;
    padding-top: 9px;
}

.navigation {
    margin-left: 27px;
    display: flex;
    justify-content: space-between;
}

.navigation li {
    margin-left: .2px;
    margin-top: 1px;
    margin-right: -1px;
    display: inline-block;
    list-style-type: none;
    font-size: 12px;
    line-height: 6px;
    font-family: Lato-Bold;
    font-weight: 700;
    text-align: left;
    color: #fff;
    position: relative;
}

.navigation li:not(:first-child):before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #494e62;
    position: absolute;
    left: -16px;
    top: 1.5px;
    z-index: 1;
    border-radius: 50%;
}

.navigation li>a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.navigation li>a:hover {
    color: #f06c64;
}

.current__link {
    color: #f06c64 !important;
}


/* slider */

.slider {
    /* height: 600px; */
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider__next {
    background-color: #648BF0;
    border-bottom: 6px solid #5C81E0;
}

.phone_inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide__wrap {
    margin: 0 auto;
}

.slide__field {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.slide__field:first-child {
    display: flex;
}

.slide__field>img {
    width: 100%;
}

.mobile_vert {
    margin-top: -7px;
}

.mobile_vert-blind {
    margin-top: -7px;
    display: none;
}

.mobile_hor {
    margin-top: -7px;
    margin-left: 73px;
}

.mobile_hor-blind {
    margin-top: -7px;
    margin-left: 73px;
    display: none;
}

.mobile {
    position: relative;
}

.mobile__btn-vert {
    width: 40px;
    height: 40px;
    background-color: #000;
    z-index: 99999;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000;
    position: absolute;
    bottom: 40px;
    left: 85px;
    opacity: 0;
}

.mobile__btn-hor {
    width: 40px;
    height: 40px;
    background-color: #000;
    z-index: 99999;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000;
    position: absolute;
    top: 80px;
    left: 80px;
    opacity: 0;
}

.left__arrow {
    display: block;
    width: 16px;
    height: 27px;
    background: url("assets/img/left_arr.png") center no-repeat;
    margin-right: 54px;
    margin-top: -7px;
    cursor: pointer;
}

.left__arrow:hover {
    background: url("assets/img/left_arr-black.png") center no-repeat;
}

.right__arrow {
    display: block;
    width: 16px;
    height: 27px;
    background: url("assets/img/right_arr.png") center no-repeat;
    margin-top: -7px;
    margin-left: auto;
    cursor: pointer;
}

.right__arrow:hover {
    background: url("assets/img/right_arr-black.png") center no-repeat;
}


/* service */

.service {
    height: 500px;
    background-color: #f1f1f1;
    border-bottom: 6px solid #ffffff;
}

.service__title {
    padding-top: 67px;
    font-family: Lato-Black;
    font-size: 3rem;
    line-height: 1.8rem;
    color: #666d89;
}

.service__paragraph {
    margin-top: 21.8px;
    margin-bottom: 12px;
    padding-top: 5px;
    padding-left: 1px;
    width: 100%;
    height: 81px;
    font-family: Lato-Light;
    font-size: 1.8rem;
    color: #767e9e;
    line-height: 3rem;
    letter-spacing: 0.01rem;
    text-align: left;
}

.service__wrap {
    width: 100%;
    padding-top: 18.2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services {
    display: flex;
    justify-content: space-between;
    width: 300px;
    flex-wrap: wrap;
    padding-bottom: 28px;
}

.service__inner {
    width: 219px;
}

.service__inner>h2 {
    margin-bottom: 10.8px;
    font-family: Lato-Black;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;
}

.service__inner>p {
    color: #767e9e;
    font-size: 1.2rem;
    font-family: Lato-Regular;
    line-height: 2.2rem;
    text-align: justify;
    letter-spacing: 0.016rem;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


/* portfolio */

.portfolio {
    max-height: 870px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}

.portfolio__inner {
    padding-top: 68px;
    padding-bottom: 19px;
}

.portfolio__header {
    width: 100%;
}

.portfolio__title {
    font-size: 3rem;
    line-height: 1.8rem;
    color: #666D89;
    font-family: Lato-Black;
    font-weight: 900;
    text-align: left;
    margin-bottom: 27px;
}

.portfolio__inner p {
    font-size: 1.8rem;
    font-family: Lato-Light;
    line-height: 3rem;
    color: #666d89;
    font-weight: 300;
    text-align: left;
    margin-bottom: 12px;
}

.portfolio-nav {
    width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0 5px;
    color: #767E9E;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 2.1rem;
    font-family: Lato-Regular;
    font-weight: 400;
}

.portfolio-nav li:first-child {
    margin-left: 0;
}

.portfolio__active-link {
    border: 1px solid #c5c5c5 !important;
    color: #c5c5c5 !important;
}

.portfolio-nav li:hover {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.portfolio__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
    padding-bottom: 55px;
}

.porfolio__item {
    margin-bottom: 20px;
}

.porfolio__item:nth-child(n+13) {
    display: none;
}

.portfolio__item-bordered {
    outline: solid #F06C64 5px !important;
}


/* about */

.about {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.about__inner {
    padding-top: 67px;
}

.about__title {
    font-size: 3rem;
    line-height: 1.8rem;
    color: #666D89;
    font-family: Lato-Black;
    font-weight: 900;
    text-align: left;
    margin-bottom: 27px;
}

.about__text {
    font-size: 1.8rem;
    font-family: Lato-Light;
    line-height: 3rem;
    color: #767E9E;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 46px;
}

.authors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authors__item {
    width: 300px;
    margin-bottom: 67px;
}

.authors__photo {
    margin-bottom: 15px;
}

.authors__name {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666D89;
    font-family: Lato-Black;
    font-weight: 900;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.authors__text {
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #767E9E;
    font-family: Lato-Regular;
    font-weight: 400;
    word-spacing: -.48px;
    margin-bottom: 22px;
}

.social {
    width: 152px;
}

.social__icon {
    display: flex;
    justify-content: space-between;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    border: 1px solid #767E9E;
    border-radius: 50%;
    padding: 7px 0 0 7px;
}

.social__link:hover {
    background-color: #767E9E;
}

.social__link:hover .svg-item {
    fill: #fff;
}

.svg-item {
    width: 16px;
    height: 16px;
    fill: #656d89;
}


/* quote */

.quote {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-bottom: 9px;
}

.quote__title {
    padding: 67px 0 28px 0;
    font-size: 3rem;
    line-height: 1.8rem;
    color: #f0d8d9;
    font-family: Lato-Black;
    font-weight: 900;
}

.quote__paragraph {
    padding-bottom: 45px;
    font-size: 1.8rem;
    line-height: 3rem;
    font-family: Lato-Light;
    color: #f0d8d9;
    font-weight: 300;
    text-align: justify;
}

.form__wrapper {
    display: flex;
}

.quote__form {
    width: 620px;
}

.form__row {
    width: 100%;
    height: 38px;
    padding: 11px 0 12px 14.5px;
    background-color: #d6564f;
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-family: Lato-Regular;
    font-weight: 400;
    text-align: left;
    color: #f48c8f;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 16px;
}

.form__row::-webkit-input-placeholder {
    color: #f48c8f;
}

.form__text {
    height: 202px;
    resize: none;
    padding-top: 5px;
}

.form__submit {
    width: 100px;
    margin: 0;
    padding: 8px 20px 10px 20px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #f0d8d9;
    text-align: center;
    cursor: pointer;
}

.contact__info {
    width: 300px;
    margin-left: 20px;
}

.contact__info-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #f0d8d9;
    font-family: Lato-Black;
    font-weight: 900;
    text-align: left;
    margin-bottom: 9px;
}

.contact__info-text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f0d8d9;
    font-family: Lato-Regular;
    font-weight: 400;
    text-align: justify;
    word-spacing: -0.22px;
    margin-bottom: 19px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-all;
}

.contact__way a {
    cursor: pointer;
}

.tel {
    margin: -2px;
}

.icon-loc {
    margin-right: 10px;
    padding-top: 6px;
    padding-left: 2px;
}

.loc>span {
    margin-top: -6px;
    margin-left: 1px;
}

.icon-phone {
    margin-right: 10px;
    padding-left: 2px;
}

.icon-mail {
    margin-right: 8px;
}

.contact__way--text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f0d8d9;
    font-family: Lato-Regular;
    font-weight: 400;
    text-align: left;
}


/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    background-color: #2d303a;
}

.copyright {
    padding: 31px 0 32px 40px;
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-family: Lato-Regular;
    font-weight: 400;
    text-align: left;
    color: #666d89;
}

.social {
    width: 152px;
    margin-right: 39px;
}

.social__icon {
    display: flex;
    justify-content: space-between;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    border: 1px solid #767E9E;
    border-radius: 50%;
    padding: 7px 0 0 7px;
}

.social__link:hover {
    background-color: #767E9E;
}

.social__link:hover .svg-item {
    fill: #fff;
}

.svg-item {
    width: 16px;
    height: 16px;
    fill: #656d89;
}